.git/
.github/
.gitignore
*.dump
*.sh
*.jsonl
*.log
*.ipynb

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
env/
venv/
ENV/
.venv/
.DS_Store
scripts/

neve-child/
namecheap_server.txt
.wordpress_db
WORDPRESS_DB_README.md
wordpress_db.py
example_ai_queries.py
wordpress_db.py
find_main_page.py

searchimage.py
replace_exact_match.py
TODO.md
post.html
interlinear_apply.py
gesenius.pdf
gesenius/
fuerst/
clean_spaces.py
footnote_wrapper.py
BDB_extract.py
BDB_extract_grok.py
bdb_lexicon.db
key.json
bdb_browser.py
grok.py
extract_verses.py
run-batch-job.js
resequence_new.py
catss_lexicon_guide.md
catss_lexicon.py
clean_spaces_.py
MULTILINGUAL_README.md
KEYS.md

# Django
*.sqlite3
/staticfiles/
media/

# VS Code
.vscode/

# Environment files
*.env
.env
