.git/
.github/
.gitignore
*.dump
*.sh
*.jsonl
*.log
*.ipynb

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
env/
venv/
ENV/
.venv/

# Django
*.sqlite3
/staticfiles/
media/

# VS Code
.vscode/

# Environment files
*.env
