<h3>Completed Real Bible Translation</h3>
<h5>New Testament</h5>
<p>He is a Gift: <a href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=1">1</a> | <a href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=2">2</a> |
    <a href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=3">3</a> | <a href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=4">4</a> | <a
        href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=4">5</a> | <a href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=6">6</a> | <a
        href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=7">7</a> | <a href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=8">8</a> | <a
        href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=9">9</a> | <a href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=10">10</a> | <a
        href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=11">11</a> | <a href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=12">12</a> | <a
        href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=13">13</a> | <a href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=14">14</a> | <a
        href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=15">15</a> | <a href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=16">16</a> | <a
        href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=17">17</a> | <a href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=18">18</a> | <a
        href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=19">19</a> | <a href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=20">20</a> | <a
        href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=21">21</a> | <a href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=22">22</a> | <a
        href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=23">23</a> | <a href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=24">24</a> | <a
        href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=25">25</a> | <a href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=26">26</a> | <a
        href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=27">27</a> | <a href="https://rbt.realbible.tech/?book=Matthew&amp;chapter=28">28</a></p>
<p>Hammer: <a href="https://rbt.realbible.tech/?book=Mark&amp;chapter=1">1</a> | <a href="https://rbt.realbible.tech/?book=Mark&amp;chapter=2">2</a> | <a
        href="https://rbt.realbible.tech/?book=Mark&amp;chapter=3">3</a> | <a href="https://rbt.realbible.tech/?book=Mark&amp;chapter=4">4</a> | <a
        href="https://rbt.realbible.tech/?book=Mark&amp;chapter=5">5</a> | <a href="https://rbt.realbible.tech/?book=Mark&amp;chapter=6">6</a> | <a
        href="https://rbt.realbible.tech/?book=Mark&amp;chapter=7">7</a> | <a href="https://rbt.realbible.tech/?book=Mark&amp;chapter=8">8</a> | <a
        href="https://rbt.realbible.tech/?book=Mark&amp;chapter=9">9</a> | <a href="https://rbt.realbible.tech/?book=Mark&amp;chapter=10">10</a> | <a
        href="https://rbt.realbible.tech/?book=Mark&amp;chapter=11">11</a> | <a href="https://rbt.realbible.tech/?book=Mark&amp;chapter=12">12</a> | <a
        href="https://rbt.realbible.tech/?book=Mark&amp;chapter=13">13</a> | <a href="https://rbt.realbible.tech/?book=Mark&amp;chapter=14">14</a> | <a
        href="https://rbt.realbible.tech/?book=Mark&amp;chapter=15">15</a> | <a href="https://rbt.realbible.tech/?book=Mark&amp;chapter=16">16</a></p>
<p>He is Favored: <a href="https://rbt.realbible.tech/?book=John&amp;chapter=1">1</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=2">2</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=3">3</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=4">4</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=5">5</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=6">6</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=7">7</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=8">8</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=9">9</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=10">10</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=11">11</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=12">12</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=13">13</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=14">14</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=15">15</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=16">16</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=17">17</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=18">18</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=19">19</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=20">20</a> | <a
        href="https://rbt.realbible.tech/?book=John&amp;chapter=21">21</a></p>
<p>Light Giver: <a href="https://rbt.realbible.tech/?book=Luke&amp;chapter=1">1</a> | <a href="https://rbt.realbible.tech/?book=Luke&amp;chapter=2">2</a> | <a
        href="https://rbt.realbible.tech/?book=Luke&amp;chapter=3">3</a> | <a href="https://rbt.realbible.tech/?book=Luke&amp;chapter=4">4</a> | <a
        href="https://rbt.realbible.tech/?book=Luke&amp;chapter=5">5</a> | <a href="https://rbt.realbible.tech/?book=Luke&amp;chapter=6">6</a> | <a
        href="https://rbt.realbible.tech/?book=Luke&amp;chapter=7">7</a> | <a href="https://rbt.realbible.tech/?book=Luke&amp;chapter=8">8</a> | <a
        href="https://rbt.realbible.tech/?book=Luke&amp;chapter=9">9</a> | <a href="https://rbt.realbible.tech/?book=Luke&amp;chapter=10">10</a> | <a
        href="https://rbt.realbible.tech/?book=Luke&amp;chapter=11">11</a> | <a href="https://rbt.realbible.tech/?book=Luke&amp;chapter=12">12</a> | <a
        href="https://rbt.realbible.tech/?book=Luke&amp;chapter=13">13</a> | <a href="https://rbt.realbible.tech/?book=Luke&amp;chapter=14">14</a> | <a
        href="https://rbt.realbible.tech/?book=Luke&amp;chapter=15">15</a> | <a href="https://rbt.realbible.tech/?book=Luke&amp;chapter=16">16</a> | <a
        href="https://rbt.realbible.tech/?book=Luke&amp;chapter=17">17</a> | <a href="https://rbt.realbible.tech/?book=Luke&amp;chapter=18">18</a> | <a
        href="https://rbt.realbible.tech/?book=Luke&amp;chapter=19">19</a> | <a href="https://rbt.realbible.tech/?book=Luke&amp;chapter=20">20</a> | <a
        href="https://rbt.realbible.tech/?book=Luke&amp;chapter=21">21</a> | <a href="https://rbt.realbible.tech/?book=Luke&amp;chapter=22">22</a> | <a
        href="https://rbt.realbible.tech/?book=Luke&amp;chapter=23">23</a> | <a href="https://rbt.realbible.tech/?book=Luke&amp;chapter=24">24</a></p>
<p>The Acts of the Sent Away Ones: <a href="https://rbt.realbible.tech/?book=Acts&amp;chapter=5">5</a></p>
<p>The People of Bodily Strength <a href="https://rbt.realbible.tech/?book=Romans&amp;chapter=1">1</a> | <a href="https://rbt.realbible.tech/?book=Romans&amp;chapter=2">2</a></p>
<p>The People of Youth 1 | <a href="https://rbt.realbible.tech/?book=1Corinthians&amp;chapter=13">13</a> |</p>
<p>The People of the Land of Bees <a href="https://rbt.realbible.tech/?book=Ephesians&amp;chapter=1">1</a> | <a
        href="https://rbt.realbible.tech/?book=Ephesians&amp;chapter=2">2</a> | <a href="https://rbt.realbible.tech/?book=Ephesians&amp;chapter=3">3</a> | <a
        href="https://rbt.realbible.tech/?book=Ephesians&amp;chapter=4">4</a> | <a href="https://rbt.realbible.tech/?book=Ephesians&amp;chapter=5">5</a> | <a
        href="https://rbt.realbible.tech/?book=Ephesians&amp;chapter=6">6</a></p>
<p>The People of the Horse 1 | 
<p>The People of the Colossal Ones 1 |    
<p>The People of the Land of Milk: <a href="https://rbt.realbible.tech/?book=Galatians&amp;chapter=1">1</a> | <a
        href="https://rbt.realbible.tech/?book=Galatians&amp;chapter=2">2</a> | <a href="https://rbt.realbible.tech/?book=Galatians&amp;chapter=3">3</a> | <a
        href="https://rbt.realbible.tech/?book=Galatians&amp;chapter=4">4</a> | <a href="https://rbt.realbible.tech/?book=Galatians&amp;chapter=5">5</a> | <a
        href="https://rbt.realbible.tech/?book=Galatians&amp;chapter=6">6</a></p>
<p>Heel Chaser <a href="https://rbt.realbible.tech/?book=James&amp;chapter=1">1</a> |</p>
<p>Favored 1  <a href="https://rbt.realbible.tech/?book=1John&amp;chapter=1">1</a> | <a href="https://rbt.realbible.tech/?book=1John&amp;chapter=2">2</a> | <a
        href="https://rbt.realbible.tech/?book=1John&amp;chapter=3">3</a> | <a href="https://rbt.realbible.tech/?book=1John&amp;chapter=4">4</a> | <a
        href="https://rbt.realbible.tech/?book=1John&amp;chapter=5">5</a></p>
<p>Favored 2  <a href="https://rbt.realbible.tech/?book=2John&amp;chapter=1">1</a></p>
<p>Favored 3  <a href="https://rbt.realbible.tech/?book=3John&amp;chapter=1">1</a></p>
<p>The Unveiling <a href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=1">1</a> | <a
        href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=2">2</a> | <a href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=3">3</a> | <a
        href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=4">4</a> | <a href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=5">5</a> | <a
        href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=6">6</a> | <a href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=7">7</a> | <a
        href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=8">8</a> | <a href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=9">9</a> | <a
        href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=10">10</a> | <a href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=11">11</a> | <a
        href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=12">12</a> | <a href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=13">13</a> | <a
        href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=14">14</a> | <a href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=15">15</a> | <a
        href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=16">16</a> | <a href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=17">17</a> | <a
        href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=18">18</a> | <a href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=19">19</a> | <a
        href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=20">20</a> | <a href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=21">21</a> | <a
        href="https://rbt.realbible.tech/?book=Revelation&amp;chapter=22">22</a></p>
<h5>Old Testament</h5>
<p>Within the <span style="color: #ff00ff;">Head</span>: <a
        href="https://rbt.realbible.tech/?book=Genesis&amp;chapter=1">1</a> | <a
        href="https://rbt.realbible.tech/?book=Genesis&amp;chapter=2">2</a> | <a
        href="https://rbt.realbible.tech/?book=Genesis&amp;chapter=3">3</a> | <a
        href="https://rbt.realbible.tech/?book=Genesis&amp;chapter=4">4</a> | <a
        href="https://rbt.realbible.tech/?book=Genesis&amp;chapter=5">5</a> | 6 | 7 | 8 | 9 | 10 | <a
        href="https://rbt.realbible.tech/?book=Genesis&amp;chapter=11">11</a> | 12 | 13 | 14 | <a
        href="https://rbt.realbible.tech/?book=Genesis&amp;chapter=15">15</a> | 16 | 17 | 18 | 19 | 20 | <a
        href="https://rbt.realbible.tech/?book=Genesis&amp;chapter=21">21</a> | <a href="https://rbt.realbible.tech/?book=Genesis&amp;chapter=22">22</a> | 23 | 24 |
    25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | <a href="https://rbt.realbible.tech/?book=Genesis&amp;chapter=33">33</a>
    | 34 | 35 | 36 | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 50</p>
<p>And A<span style="color: #ff00ff;"> Mighty One</span> of <span style="color: #ff00ff;">Names</span>: <a
        href="https://rbt.realbible.tech/?book=Exodus&amp;chapter=3">3</a> | <a href="https://rbt.realbible.tech/?book=Exodus&amp;chapter=20">20</a> |</p>
<p>And He is Reading 1 | 2 | 3</p>
<p>And He is Ordering Words 1 | 2 |</p>
<p><span style="color: #ff00ff;">A Mighty One</span> of the Words 1 | 2 |</p>
<p>First Kings <a href="https://rbt.realbible.tech/?book=1%20Kings&amp;chapter=18">18</a> |</p>
<p>Hated One <a href="https://rbt.realbible.tech/?book=Job&amp;chapter=36">36</a> | <a href="https://rbt.realbible.tech/?book=Job&amp;chapter=38">38</a></p>
<p>Melodies: <a href="https://rbt.realbible.tech/?book=Psalms&amp;chapter=1">1</a> | <a href="https://rbt.realbible.tech/?book=Psalms&amp;chapter=8">8</a> | <a
        href="https://rbt.realbible.tech/?book=Psalms&amp;chapter=23">23</a> | <a href="https://rbt.realbible.tech/?book=Psalms&amp;chapter=42">42</a> | <a
        href="https://rbt.realbible.tech/?book=Psalms&amp;chapter=56">56</a> | <a href="https://rbt.realbible.tech/?book=Psalms&amp;chapter=82">82</a> | <a
        href="https://rbt.realbible.tech/?book=Psalms&amp;chapter=117">117</a> | <a href="https://rbt.realbible.tech/?book=Psalms&amp;chapter=128">128 </a> | <a
        href="https://rbt.realbible.tech/?book=Psalms&amp;chapter=150">150</a></p>
<p>Parables/Comparisons: <a href="https://rbt.realbible.tech/?book=Proverbs&amp;chapter=5">5</a> | <a
        href="https://rbt.realbible.tech/?book=Proverbs&amp;chapter=6">6</a> |</p>
<p>The <span style="color: #ff00ff;">Song</span> of <span style="color: #0000ff;">Singers</span>: <a
        href="https://rbt.realbible.tech/?book=Song of Solomon&amp;chapter=1">1</a> | <a href="https://rbt.realbible.tech/?book=Song of Solomon&amp;chapter=2">2</a>
    | <a href="https://rbt.realbible.tech/?book=Song of Solomon&amp;chapter=3">3</a> | <a
        href="https://rbt.realbible.tech/?book=Song of Solomon&amp;chapter=4">4</a> | <a href="https://rbt.realbible.tech/?book=Song of Solomon&amp;chapter=5">5</a>
    | <a href="https://rbt.realbible.tech/?book=Song of Solomon&amp;chapter=6">6</a> | <a
        href="https://rbt.realbible.tech/?book=Song of Solomon&amp;chapter=7">7</a> | <a href="https://rbt.realbible.tech/?book=Song of Solomon&amp;chapter=8">8</a>
</p>
<p>He Is Liberator:  <a href="https://rbt.realbible.tech/?book=Isaiah&amp;chapter=1">1</a> | 2 | 3 | 4 | 5 | 6 | 7 | <a
        href="https://rbt.realbible.tech/?book=Isaiah&amp;chapter=9">9</a> | <a href="https://rbt.realbible.tech/?book=Isaiah&amp;chapter=53">53</a></p>
<p>God Has Judged:  <a href="https://rbt.realbible.tech/?book=Daniel&amp;chapter=7">7</a></p>
<p>Dove: <a href="https://rbt.realbible.tech/?book=Jonah&amp;chapter=1">1</a> |<a
        href="https://rbt.realbible.tech/?book=Jonah&amp;chapter=2">2</a> |<a
        href="https://rbt.realbible.tech/?book=Jonah&amp;chapter=3">3</a> |<a
        href="https://rbt.realbible.tech/?book=Jonah&amp;chapter=4">4</a></p>
<p>Who is Like Her: <a href="https://rbt.realbible.tech/?book=Micah&amp;chapter=1">1</a> |</p>
<p>He Is Remembered:  <a href="https://rbt.realbible.tech/?book=Zechariah&amp;chapter=4">4</a> | <a
        href="https://rbt.realbible.tech/?book=Zechariah&amp;chapter=5">5</a></p>